<div class="header">
    <div class="first">
        <a href="#" class="test">Test Angular</a>
    </div>
    <div class="links">
        <a href="#" class="accueil">accueil</a>
        <a href="#" class="accueil">Top</a>
        <a href="#" class="accueil">Blog</a>
        <a href="#" style="color: red;"><span>Bienvenue {{data_session.nom}}</span></a>
    </div>
    <div class="connexion">
        <button class="btn btn-info p-1 m-1">
            <a [routerLink]="['login']" class="btn btn-info p-1 text-white">Login</a>
        </button>
        <button class="btn btn-info p-1 m-1">
            <a [routerLink]="['singup']" class="btn btn-info p-1 text-white">Sing up</a>
        </button>
        <button class="btn btn-info p-1 m-1">
            <a [routerLink]="['test']" class="btn btn-info p-1 text-white">test</a>
        </button>
        <button class="btn btn-info p-1 m-1">
            <a [routerLink]="['reactif']" class="btn btn-info p-1 text-white">reactive</a>
        </button>
        <div class="" *ngIf="!data_session">
            <button class="btn btn-info p-1 m-1">
                <a [routerLink]="['Documentation']" class="btn btn-info p-1 text-white">Documentation</a>
            </button>
        </div>
        
    </div>
</div>
<div class="espace">
    
</div>