<div class="login">
    <div class="form-party">
        <form action="#">
            <div class="content_form">

                <div class="input_form">
                    <label for="inputEmail">Email</label>
                    <input type="email" placeholder="Exemple@gmail.com">
                </div>
                <div class="input_form">
                    <label for="inputEmail">Mot de Passe</label>
                    <input type="password" name="mdp">
                </div>
                <div class="input_form">
                    <button type="submit" class="btn">Connexion</button>
                </div>
            </div>
        </form>
    </div>
</div>