<div class="home">
    <section class="activity">
        <h3 class="text-center text-black">My activity</h3>
        <div class="Home_activ">
            <div class="content_activity">

            <!-- activy 1-->
            <div class="box_activity">
                <div class="img_activity">
                    <img src="" alt="">
                </div>
                <div class="descrip_activity">
                    <span>Titre: activity</span>
                </div>
                <a href="#" class="btn btn-info">Comprendre</a>
            </div>
            <!-- activy 1-->

            <!-- activy 1-->
            <div class="box_activity">
                <div class="img_activity">
                    <img src="" alt="">
                </div>
                <div class="descrip_activity">
                    <span>Titre: activity</span>
                </div>
                <a href="#" class="btn btn-info">Comprendre</a>
            </div>
            <!-- activy 1-->

            <!-- activy 1-->
            <div class="box_activity">
                <div class="img_activity">
                    <img src="" alt="">
                </div>
                <div class="descrip_activity">
                    <span>Titre: activity</span>
                </div>
                <a href="#" class="btn btn-info">Comprendre</a>
            </div>
            <!-- activy 1-->
        
            </div>
        </div>
    </section>
    <section class="Test_activity">
        <h3 class="text-center text-black">Test de Contact Avec code du Pays</h3>
        <div class="test_number">
            <form action="#">
                <div class="">

                </div>
            </form>
        </div>
    </section>
</div>